
/**

00.00 TABLE OF CONTENTS
00.01 Imports
00.02 Globals
00.02 background colors
00.03 Text Colors
01.00 content-wrapper
02.00 Nav/Side Bar
03.00 Content Pane
03.01 Case Builder Block
03.02 Case Manager Block
04.00 Evidence Manager
05.00 video page
06.00 login
07.00 Image and Video Overlay
08.00
09.00 Header
09.02 Nav bar list
09.01 Logo
10.00 Footer
11.00 notification
12.00 search

**/


/** 00.01 Imports **/
@import url('reset.css');
@import url('framework.css');
@import url('grid.css');

@font-face {
  font-family: 'Aveni';
  src: url('../font/AvenirNext-Regular.otf') format('opentype'),
			 url('../font/AvenirNext-Regular.woff') format('woff'),
       url('../font/AvenirNext-Regular.ttf')  format('truetype');
}


/** 00.02 GLobals **/
body{
  font-family: 'Aveni';
	color: #333;
  clip: auto;
  overflow-x: hidden;
}

.link {
  cursor: pointer;
  transition: all 0.2s ease;
}

.link:hover{
  text-decoration: underline;
  color: #339;
}

.point-cursor:hover{
  cursor: pointer !important;
}

.no-event {
  pointer-events: none;
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.transition-ease {
  transition: all 0.2s ease;
}

.exit-overlay{
  color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 400; /*Goes above all except pageload-overlay*/
  font-size:40px;
  cursor: pointer;
}


.grey-text {
  color: #777;
}

#pageload-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #242533;
  z-index: 500;
  transition: transform 1s cubic-bezier(0.9, 0, 0.1, 1), opacity 0.8s cubic-bezier(0.9, 0, 0.1, 1) 0.2s;
}

#pageload-overlay.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.loading-gif {
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#fortify-notification {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s linear 1.5s;
  opacity: 1;
  pointer-events: none;
}

#fortify-notification.hidden {
  display: block;
  opacity: 0;
}

small{
  font-size: 10px;
}

/**00.02 Background Colors **/
.nav-bar-blue{
	background: #242533;
}

/** 00.04 Text Colors **/

/** 01.00 Content Wrapper **/
.content-wrapper{
  height: 100%;
	width: 100%;
}

/** 02.00 Nav/Side bar **/

.nav-side-bar{
	//background: linear-gradient(#13244A, #2234A8);
  background: #3e63b8;
	float: left;
	height: 92%;
	width: 10%;
}

/** 03.00 Content Pane **/
.content-pane{
  background: #fafafa;
	box-sizing: border-box;
  float: left;
	height: 92%;
  padding: 20px;
	width: 90%;
}

/** 03.01 Case Builder Block **/

.builder-container{
	float: left;
	height: 100%;
	padding-right: 5px;
	width: 70%;
}

.builder-block{
	width: 100%;
	height: 100%;
}

.builder-block .header{
  background: #ccc;
  border: 1px solid #bbb;
	display: block;
	font-weight: bold;
	font-size: 20px;
	height: 12%;
	width: 100%;
}

.builder-block h3{
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.builder-block-content{
  height: 88%;
  width: 100%;
}

.question-inventory-container{
  width: 40%;
  height: 100%;
//  padding-right:5px;
  float: left;
  margin-top: 5px;
}

.evidence-inventory-block{
	background: #d9d9d9;
  border: 1px solid #bbb;
  border-right: 0px;
	height: 100%;
  width: 60%;
}


.evidence-inventory-list li{
	background: #cfcfcf;
	font-size: 11px;
	margin-bottom: 5px;
}

.evidence-inventory-list .view-icon{
	background: #385477;
	color: #fff;
	float: right;
	margin-right: 3px;
	padding: 7px;
  font-size: 16px;
  transition: all 0.1s;
}

.evidence-inventory-list .view-icon:hover {
  background: #648bba;
}

.evidence-inventory-list .view-icon:active {
  background: #243d5b;
}

.evidence-inventory-list .delete-icon{
	background: #ee5f77;
	color: #fff;
	float: right;
	padding: 7px;
  font-size: 16px;
  transition: all 0.1s;
}

.evidence-inventory-list .delete-icon:hover {
  background: #f38c9d;
}

.evidence-inventory-list .delete-icon:active {
  background: #e92f4e;
}

.evidence-followup-wrapper{
  width: 60%;
  height: 100%;
  float: left;
  margin-top: 5px;
  padding-left: 5px;
}

.evidence-followup-block{
  height: 90%;
}

.prelink-wrapper{
  position: relative;
  height: 10%;
  padding-top:5px;
  width: 100%;
}

.prelink-block{
  background: #cfcfcf;
  border: 1px solid #aaa;
  height: 100%;
  width: 100%;
  text-align: center;
}

.prelink-time{
  background: #44bb44;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 10px;
}

.media-add-icon {
  color: #fff;
  transition: all 0.1s;
}

.media-add-icon:hover {
  color: #b7f6a2;
}

.media-add-icon:active {
  color: #fff;
}

.media-remove-icon {
  color: #fff;
  transition: all 0.1s;
}

.media-remove-icon:hover {
  color: #f38c9d;
}

.media-remove-icon:active {
  color: #fff;
}

.fortify-case-button-container{
  position: absolute;
  bottom: 0px;
  padding-top: 5px;
  height: 10%;
  width: 100%;
}

.fortify-case-button{
  background: #bd3333;
  font-weight: normal;
  font-size: 13px;
  height: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.fortify-case-button:hover{
  background: #bf4444;
  cursor: pointer;
  text-shadow: 0 1px #000;
}

.fortify-case-button:active{
  background: linear-gradient( #FA9585, #EFAAA7);

}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden;
		cursor: pointer;
    border: 2px solid #999999;
}
.onoffswitch-inner {
    display: block; width: 200%;
		margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.report-question-block{
	background: #dfdfdf;
	height: 100%;
  border: 1px solid #bbb;

}

.report-question input[type="text"]{
	background: #cccccc;
	border:0px solid #555;
	padding: 10px;
}


.report-question-header{
  background: #999;padding: 10px;font-size: 10px;color: #fff;
}

.report-question select{
	background: #ccc;
	border: 0px solid #555;
  font: inherit;
	outline: 0px;
	margin: 0px;
	padding: 5px;
	-webkit-appearance: none;
}

.timeset-wrapper{
  position: absolute;
  width: 100%;
  height: 60px;
  top:-60px;
  background: rgba(000,000,000,0.6);
  z-index: 50;
}

.timeset-wrapper.hidden{
  opacity: 0;
  top:0%;
  pointer-events: none;
}


.clock-container{
  position: relative;
  float: left;
  height: 100%;
  width: calc(25% - 5px);
}

.set-calendar {
  background: #500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.set-calendar:hover {
  background: #944;
  text-shadow: 0 2px 0 #333;
}

.increment{
  color: #fff;
  font-weight: bold;
  height: 30%;
  width: 100%;
  background: rgba(221,68,68,.3);
}

.clock-month{
  color: #fff;
  font-size: 11px;
}

.clock-year{
  color: #fff;
  font-size: 11px;
}

.clock-day{
  color: #333;
  font-size: 24px;
  background: #fff;
  width:auto;
  margin-top:1px;
  margin-bottom:1px;
  text-shadow:none !important;
}

.time{
  height: 100%;
  width: 100%;
}

.time-input {
  text-align: center;
  width:60%;
  font-size: 30px;
  background: none;
  border: none;
}

.time-input[type=number] {
  -moz-appearance: textfield;
  color:#fff;
}
.time-input -webkit-inner-spin-button { -webkit-appearance: none;}
.time-input -webkit-outer-spin-button { -webkit-appearance: none;}

.timeset-button {
  height: 100%;
  background: #c3c9d5;
  color:#fff;
  //transition: all 0.2s ease;
  cursor: pointer;
}

.timeset-button:hover {
//  text-shadow: 0px 1px 0px #333;
  background: #385477;
}

.timeset-button:active {
  transition: all 0s;
  //text-shadow: 0px -1px 0px #333;
  background: #383144;
}

.prelink-toggle {
  height:100%;
  background: #385477;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.prelink-toggle:hover {
  background: #648bba;
  text-shadow: 0px 1px 0px #333;
}

.prelink-toggle:active {
  transition: all 0s;
  background: #243d5b;
  text-shadow: none;
  transition: all 0.2s ease;
}

.timeset-confirm {
  position: absolute;
  width:100%;
  height:100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.timeset-confirm>i {
  top:50%;
  transform: translateY(-50%);
}

.timeset-confirm:hover {
  background: rgba(255,255,255,0.2);
  text-shadow: 0 2px 0 #333;
}

.timeset-confirm:active {
  transition: all 0s;
  background: rgba(0,0,0,0.1);
  text-shadow: none;
}

.report-question  select:hover {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.report-question select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.report-question option{
  color: #000;
	outline: 0px;
}

.report-question option:disabled {
  color: #777;
  background: #bbb;
}

.tag-block{
  height: 100%;
}

.tag-column{
  background: #dfdfdf;
	height: 100%;
  border: 1px solid #bbb;
}

#tag-list li{
	background: #999;
	border-radius: 4px;
	color: #fff;
	font-size: 10px;
  margin-bottom:3px;
	padding: 10px;
	text-align: center;
}

.tag li{
  background: #999;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  margin-bottom:3px;
  padding: 10px;
  text-align: center;
}

/** 03.02 Case Manager Block **/

.manager-container{
	float: left;
	height: 100%;
	width: 30%;
  overflow-y: auto;
}


.manager-container h2{
  background: #ccc;
  border: 1px solid #bbb;
	display: block;
	font-weight: bold;
	font-size: 20px;
	height: 12%;
	text-align: center;
	width: 100%;
}

.manager-container h3{
	text-align: center;
	background: #ccc;
}

.manager-container li{
  transition: all 0.1s;
}

h3.new-case {
  background: #385477;
  cursor: pointer;
  transition: all 0.1s;
}

h3.new-case:hover{
  background: #648bba;
}

h3.new-case:active{
  background: #243d5b;
}

#case-list li {
  position: relative;
  height: 40px;
  background: #eee;
}

#case-list li:hover {
  background: #f8f8f8;
}

#case-list li:active {
  background: #d9d9d9;
}

#case-list li:last-child{
  border-bottom: 0px;
}

#case-list .active{
  background: #b7f6a2 !important;
}

#case-list .active:hover {
  background: #dbfad1 !important;
}

#case-list .changed {
  background: #fcc;
}

#case-list .changed:hover {
  background: #ffe9e9;
}

.manager-container .case-file-count{
  text-align: center;
  background: rgba(0,0,0,0.1);
  height:100%;
}

.case-delete-button{
  transition: all 0.1s;
  cursor: pointer;
  height:100%;
}

.case-delete-button:hover {
  background: #f38c9d;
}

.case-delete-button:active {
  background: #e92f4e;
}

.case-ref-id{
  position: absolute;
  width:90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align:center;
}

.case-ref-id-wrapper {
  height: 100%;
  margin: 0px;
  overflow:hidden;
}

.case-nickname-input {
  position: absolute;
  width:90%;
  left:50%;
  transform: translateX(-50%);
  background: none;
  text-align: center;
  border: none;
  font-family: 'Aveni';
}

/** 04.00 Evidence Slider **/


.overlay-container{
  background: rgba(18,18,25,0.9);
  width: 40%;
  overflow:hidden;
  position: fixed;
  right: 0;
  z-index: 500;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.2s;
}

.overlay-container.show{
  transform: translateX(0%);
}

.close{
  background: #e65959;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  transition: all 0.1s;
}

.close:hover {
  background: #f2a6a6;
}

.close:active {
  background: #e92f4e;
}

.upload{
  background: #385477; /*#b4e2a0*/
  height: 40px;
  padding: 0 20px;
  border-radius: 4px;
  color: #fff;
  transition: all 0.1s;
}

.upload:hover {
  background: #648bba;
}

.media-block-wrapper {
  padding: 0px;
  max-height:80%;
  overflow-y:auto;
}

.media-block{
  height:100%;
  width:100%;
}

.media-block li{
  position: relative;
  width: 25%;
  height: 140px;
  display: inline-block;
  margin: 0px auto;
  margin-left: -3px;
  padding: 10px;
  transition: all 1s;
}

.media-block li .block{
  height: 100%;
  width: 100%;
}

.green-border{
  border: 5px solid #9f9;
  box-shadow: inset 0 0 25px #9f9;
  -moz-box-shadow: inset 0 0 25px #9f9;
  -webkit-box-shadow: inset 0 0 25px #9f9;
}

.red-border{
  border: 10px solid #ff0000;
}

.ev-curtain{
  background: rgba(000,000,000,0.5);
  color: #cfcfcf;
  opacity: 0;
  font-size: 12px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 200; /*Above main page but below notifications*/
  overflow: hidden;
}

.ev-curtain h3{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.ev-curtain i{
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
}

.media-block li:hover .ev-curtain{
  opacity: 1;
}

.media-block li .hidden{
  position:absolute;
  display: none;
}

.loading-bar-wrapper {
  position: absolute;
  width:100%;
  height: 10px;
  top: 80%;
  border-radius: 5px;
  background: #555;
  overflow: hidden;
}

@keyframes loading-pulse{
  0% {background: #4a4;}
  50% {background:#4a4;}
  75% {background: #7f7;}
  100% {background: #4a4;}
}

.loading-bar {
  position: absolute;
  background: #4a4;
  width: 0%;
  height:100%;
  transition: all 0.5s ease;
  animation-name: loading-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.placeholder {
  background-image: url("https://192.168.1.13/img/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.evidence-block-size{
  width: 100%;
  height: 90%;
}

/**Shelf Tag**/

.media-block-shelf-tag{
  height: 100%;
  width: 100%;
}

.media-block-shelf-tag h2{
  padding: 10px 40px;
  background: rgba(255,255,255,0.1);
}

.media-block-shelf-tag h2 label{
  color: #fff;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.shelf-tag-questions, .shelf-tag-photo{
  color: #fff;
  padding: 40px;
  text-align: center;
}

.shelf-tag-questions{
//  background: rgba(255,255,255,0.2);
}

.trans-y-up{
  transform: translateY(-100%);
}

.shelf-tag-questions input[type="text"]{
  border: 0;
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
}

.shelf-tag-photo .photo-placeholder{
  font-size: 90px;
  margin-bottom: 20px;
  text-align: center;
}

.shelf-tag-description{
  height: 200px;
  padding: 20px;
  width: 100%;
}

/** 05.00 Video Page**/

/**05.01 video page main container**/

.video-main-container{
  float: left;
  height: 200px;
  padding-right: 20px;
  width: 80%;
}

.video-container-inner{
  background: #ccc;
  height:100%;
  width: 100%;
}


/**05.02 video control container**/

.video-control-container{
  background: rgba(000,000,000,0.6);
  bottom: 2px;
  height: 60px;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease;
}

.video-control-container.hidden{
  opacity:0;
  pointer-events:none;
}

/**05.03 video page controls**/

.play-button{
  display: block;
  height: 50px;
  margin-left:auto;
}

.time-code-box{
  border-radius: 5px;
  background: #444;
  color: #fff;
  display: block;
  font-size: 10px;
  text-align: center;
  padding: 15px;
  width: 50%;
}

.progress-bar{
  background: #ffbbbb;
  float: left;
  height: 100%;
  width:0%;
}

.play-head{
  background: #ff5555;
  height: 100%;
  float: left;
  width:2%;
  cursor: pointer;
}

.progress-bar-base{
  float: left;
  background: #fff;
  height: 100%;
  width:100%;
}

.video-player-button{
  display: block;
  float: left;
  height: 30px;
  width: 30px;
}

/**05.04 video page advanced tool bar**/
.advanced-toolbar-container{
  background:#333;
  border: 0px solid #aaa;
  border-top: 0;
  padding: 10px;
  width: 100%;
  transition: all 0.2s ease;
}

.advanced-toolbar-container.hidden{
  display: none;
}

.advanced-toolbar-inner{
  margin: 0px 40px;
  width: 100%;
}

.advanced-tool-spacer{
  float: left;
  width: auto;
  margin-right: 100px;
}

.advanced-tool{
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  padding: 10px;
}

.advanced-tool.selected {
  transition: all 0s;
  background: #696;
  color: #fff;
}

.advanced-tool-img{
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 5px;
  padding: 4px;
  vertical-align: middle;
}

.advanced-tool-img img{
  display: inline;
  width: 20px;
}

.playback-speed {
  transition: all 0.2s ease;
}

/**05.05video comment container**/
.video-comment-container li{
  background:#cfcfcf;
  border: 1px solid #aaa;
  border-top: 0px;
  color: #999;
  height: 90px;
  width: 100%;
}

.video-comment-container li:last-child{
  border-bottom: 0px !important;
}

.video-comment-focused{
  background: #ddd !important;
  color: #000 !important;
}

/**05.06 video comment buttons**/
.video-comment-control-container{
  width: 100%;
  padding: 20px;
  background: #999;
  border: 1px solid #777;

}

/**05.07 video page side bar**/
.video-sidebar-container{
  float: left;
  height: 100%;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 130px;
  position: fixed;
  right: 0;
  width: 20%;
}

.video-sidebar-header{
  background: #333;
  color: #fff;
  font-size: 18px;
  padding: 40px 0 40px 0;
  text-align: center;
}


.video-sidebar-date{
  background: #666;
  color: #fff;
  font-size: 10px;
  padding: 20px;
  text-align: center;
}
.video-sidebar-inner{
  background: linear-gradient(#555, #222);
  height: 100%;
  width: 100%;
}

.video-meta-header{
  background: rgba(000,000,000,0.5);
}

.video-meta-body{
  background: rgba(000,000,000,0.2);
}
.video-meta-container li{
  background: #aaffaa;
  border-bottom: 1px solid #aaffbb;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.video-meta-container li:last-child{
  border-bottom: 0px;
}


.video-taglist-header{
  background: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.video-taglist-body{
  background: #555;
  color: #fff;
  padding: 20px;
}

.video-associate-list{
  background: #fff;
}

.video-associate-list li{
  border-bottom: 1px solid #000;
  font-size: 10px;
  text-align: center;
}

.video-associate-list li:last-child{
  border-bottom: 0px;
}

.video-associate-add-button{
  background: #444;
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 15px;
}

/**6.0 Login**/

.login-page input[type="text"]{
  background: transparent;
  border: 0px;
  border-bottom: 5px solid #444;
  display: block;
  font-size: 15px;
  margin: 0px auto;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 49%;
}

.login-page input[type="password"]{
  background: transparent;
  border: 0px;
  border-bottom: 5px solid #444;
  display: block;
  font-size: 15px;
  margin: 0px auto;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 49%;
}

.login-page input[type="submit"]{
  background: #444;
  border: 0px;
  color: #fff;
  cursor: pointer;
  margin: 0px auto;
  margin-top: 5px;
  padding: 20px;
  -webkit-appearance: none;
  width: 100%;
}

.login-message{
  background: #ff3333;
  color: #fff;
  margin-top: 5px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s ease;
}

.login-message.hidden{
  opacity: 0;
}

/** 07.00 Image and Video Overlay **/

.media-preview-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  height: auto;
  width: 30%;
  height: 30%;
  max-width: 30%;
  max-height: 30%;
  z-index: 500;
  pointer-events: none;
}

.media-preview-overlay.hidden {
  opacity: 0;
}

.media-preview-overlay-bg {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
}

/** 08.00 **/

/** 09.00 Header **/

/** 09.01 Logo **/

.logo{
  background: rgba(000,000,000,0.3);
  //box-shadow: 0px 3px 20px #111;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 40px;
  display: block;
  padding: 30px;
}

  /**09.02 Nav**/

.logout-button{
  background: #1B3266;
  bottom: 0;
  color: #fff;
  float: left;
  font-size:11px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  width: 10%;
}


nav li{
  width: 100%;
}
nav li{
  background: rgba(255,255,255,0.1);
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: all .1s;
}

nav li:nth-child(even){
    background: rgba(255,255,255,0.05);

}

nav li:hover{
  background: rgba(255,255,255,0.3);
  cursor: pointer;
//  text-shadow: 0px 2px 0px #333;
}



/** 10.00 Footer **/

footer{
  background: #3f3f3f;
/*border-top: 5px solid #333;*/
	height: 8%;
	width: 100%;
}

.notify-count{
  //background: linear-gradient(#dd0000, #dd4444);
  background: #dd0000;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-shadow: 0px 2px #000;
  vertical-align: middle;
  width: 30px;
}


.notify-text{
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 5px;
}


.notification-button{
//  background: #103266;
  background: #222;
  bottom: 0;
//  border-left: 5px solid #333;
  color: #fff;
  float: right;
  height: 100%;
  text-align: center;

}

footer .headshot{
  border-radius: 500px;
  display: block;
  height: 80%;
  padding: 10px;
}

.video-footer-pusher{
  background: #fff;
  height: 30px;
  width: 100%;
}

/**11.00 notifications **/

.quick-notify{
  color: #fff;
  height: 60px;
  position: fixed;
  right: 0;
  top: 20px;
  width: 300px;
  z-index: 1000; /*Above everything but search*/
  transition: transform 0.2s ease;
}

.quick-notify.hidden{
  transform: translateX(100%);
}

.quick-notify-close{
  background: rgba(255,255,255,0.3);
  height: 100%;
  text-align: center;
  width: 15%;
}

.quick-notify-content{
  background: linear-gradient(rgba(255,255,255,0),rgba(000,000,000,.1));
  height: 100%;
  font-size: 11px;
  text-align: center;
  width: 85%;
}

.quick-notify.upld-note{
  background: #aaf;
}

.quick-notify.dflt-note{
  background: #7a7;
}

.quick-notify.warn-note{
  background: #f77;
}

.quick-notify.cond-note{
  background: #e5df2b;
}

.notification-button-container{
  bottom: 0;
  background: rgba(000,000,000,.8);
  height: 80%;
  position:fixed;
  right: 0;
  text-align: center;
  width: 20%;
  z-index: 100; /*Above Evidence Manager; Below Search*/
  transition: all 0.2s ease;
}

.notification-button-container.hidden {
  height: 8%;
}

/**12.00 search**/

.search-box{
  background: rgba(18,18,25,0.9);; /*rgba(000,000,000,0.9)*/
  color: #fff;
  height: 100%;
  padding: 0px 0px;
  position: fixed;
  top: 0;
  width: 60%;
  z-index: 401; /*Above all but pageload-overlay*/
  transition: all 0.2s ease;
}

.search-box.hidden {
  transform: translateX(-100%);
  pointer-events: none;
}

.search-box input[type="text"]{
  background: #fff;
  border: 0px;
  border-bottom: 1px solid #ccc;
  display: block;
  color: #000;
  float: left;
  font-size: 20px;
  height: 100%;
  margin: 0px;
  padding: 20px;
  transition: all 1s;
  width: 70%;
}

.search-box input[type="text"]:focus{
  padding-left: 30px;
}

.search-box input[type="submit"]{
  background: #bbb;
  border: 0px;
  border-bottom: 1px solid #aaa;
  color: #555;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 100%;
  margin: 0px auto;
  padding: 20px 35px;
  text-align: center;
  width: 30%;
}

.search-field{
  display: block;
  height: 90px;
  width: 100%;
}

.search-critera{
  background: #282828;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.search-critera span{
  color: #888;
}

.load-more-searches{
  background: #3e63b8;
  border-radius: 4px;
  font-size: 10px;
  margin: 0px auto;
  margin-top: 30px;
  padding: 20px;
  width: 200px;
}

.search-result{
  background: #555;
  height: 180px;
  margin-bottom: 20px;
  width: 100%;
}

.search-result-meta{
  background: #444;
  float: left;
  height: 100%;
  width: 30%;
}

.search-meta-header{
  background: #333;
  padding: 20px;
  width: 100%;
}

.search-meta-header h2{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.search-meta-header h3{
  font-size: 10px;
  text-align: center;
}

.search-meta{
  font-size: 11px;
  padding: 20px;
}

.search-meta i{
  font-size: 16px;
}

.search-result-content{
  float: right;
  height: 100%;
  width: 70%;
}

.search-result-col{
  border-right: 1px solid #333;
  float: left;
  height: 100%;
  width: 33.333333339%;
  overflow-y: auto;
}


.search-result-evidence-count li{
  border-bottom: 1px solid #444;
  font-size: 11px;
  height: 20%;
  padding: 10px;
  width: 100%;
}

.search-result-evidence-count:last-child{
  border-bottom: 0px;
}

.suspect-search-header{
  background: #333;
  font-size: 9px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.search-result-more-button{
  font-size: 10px;
  color: #ddd;
  text-align: center;
}
