USE [master]
GO
/****** Object:  Database [agentlookup]    Script Date: 1/11/2017 5:28:40 PM ******/
CREATE DATABASE [agentlookup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agentlookup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\agentlookup.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agentlookup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\agentlookup_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agentlookup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agentlookup]
GO
USE [agentlookup]
GO
/****** Object:  User [W5eMCKJbykm4fHfQdP4vi7XHFoDi7Wgx]    Script Date: 1/11/2017 5:28:41 PM ******/
CREATE USER [W5eMCKJbykm4fHfQdP4vi7XHFoDi7Wgx] FOR LOGIN [W5eMCKJbykm4fHfQdP4vi7XHFoDi7Wgx] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[agencies]    Script Date: 1/11/2017 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agencies](
	[id] [varchar](8) NOT NULL,
	[dbname] [varchar](32) NOT NULL,
	[name] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
